<title>Add Weekly Sales</title>
{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
  <h1>Add weekly sales information</h1>

  <form method="POST">
      {# This hidden_tag is a CSRF security feature. #}
      {{ form.hidden_tag() }}
       <!-- forcing padding between these elements  -->
      <br>
      <br>
      {{ form.employeeid.label }} {{ form.employeeid() }}<br>
      {{ form.prod_code.label }} {{ form.prod_code() }}<br>
      {{ form.dateEntered.label }} {{ form.dateEntered() }}<br>
      {{ form.sales_quantity.label }} {{ form.sales_quantity() }}<br>
      {{ form.submit() }}
  </form>
</div>
{% endblock %}
