<title>Add a Foster Pawrent</title>
{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>Add a Foster</h1>
  <p>Decided to foster one of our puppies in need? </p>
  <p>Sign up  below and let us know what puppy you can take using their puppy id.</p><br><br>
  <!-- <p>Add a new foster pawent with the form below:</p> -->
  <form method="POST">
      {# This hidden_tag is a CSRF security feature. #}
      {{ form.hidden_tag() }}
      {{ form.name.label }} {{ form.name() }}<br>
      {{ form.pup_id.label }} {{ form.pup_id() }}<br>
      {{ form.email.label }} {{ form.email() }}<br>
      {{ form.submit() }}
  </form>
</div>
{% endblock %}
